extends layout
block navbarTop
		nav.navbar-top-container.fixed-header.first-page
			button.toggle-button.btn-toggle-menu.btn-hamburger.js-slideout-toggle
				.toggle-view
					.toggles
						.toggle-icon
block content

	.wrapper.wrapper-position
		.card--picture
			img(src="./images/photos/round-pic.jpg", alt="google-ads", width="300", height="200")
			
		.inner-wrapper.card--text
			.inner-card--text
				h1.header تبلیغات در گوگل
				p.text-description 
					| ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است			
	.wrapper.wrapper-video
		h2 معرفی اپلیکیشن
		video(controls)
			source(src="./video/intro.mp4")
			source(src="./video/intro.ogg")
	.wrapper.wrapper-off-banner
		h2 تخفیف ویژه اپلیکیشنی ها
		a(href="https://google.com")
			img(src="./images/photos/off-banner2.png", alt="off")
	#chart-container
		canvas#chart-preview(width=320, height=400)
			div قیمت لحظه ای دلار حواله #{usdLive}
	//- #{_html}
	//- div #{resultArrayForDollar}
	//- div #{resultArrayForDate}
	ul#pricing-table-wrapper
		.title-table
			h1 تعرفه های شارژ تبلیغات در گوگل
			h3 قیمت لحظه ای دلار حواله(#{usdLive})
		li 
			span شارژ ۵۰ دلاری (کارمزد ۱.۱۸ درصد)
			span #{ManagementPlan[0]}
		li 
			span شارژ ۱۰۰ دلاری (کارمزد ۱.۱۶ درصد)
			span #{ManagementPlan[1]}
		li 
			span شارژ ۲۰۰ دلاری (کارمزد ۱.۱۵ درصد)
			span #{ManagementPlan[2]}
		li 
			span شارژ ۳۰۰ دلاری (کارمزد ۱.۱۴ درصد)
			span #{ManagementPlan[3]}
		li 
			span شارژ ۵۰۰ دلاری (کارمزد ۱.۱۲ درصد)
			span #{ManagementPlan[4]}
		li 
			span شارژ ۷۵۰ دلاری (کارمزد ۱.۱۱ درصد)
			span #{ManagementPlan[5]}
		li 
			span شارژ ۱۰۰۰ دلاری (کارمزد ۱.۰۹ درصد)
			span #{ManagementPlan[6]}
		li 
			span شارژ ۲۰۰۰ دلاری (کارمزد ۱.۰۷ درصد)
			span #{ManagementPlan[7]}

		
block footer