extends layout
block navbarTop
		nav.navbar-top-container.fixed-header
			button.toggle-button.btn-toggle-menu.btn-hamburger.js-slideout-toggle
				.toggle-view
					.toggles
						.toggle-icon
					.title-toggle فهرست

block content








	//- ul#pricing-table-wrapper
	//- 	.title-table
	//- 		h1 تعرفه های شارژ تبلیغات در گوگل
	//- 		h3 قیمت لحظه ای دلار حواله(#{usd})
	//- 	li 
	//- 		span شارژ ۵۰ دلاری (کارمزد ۱.۱۸ درصد)
	//- 		span #{ManagementPlan[0]}
	//- 	li 
	//- 		span شارژ ۱۰۰ دلاری (کارمزد ۱.۱۶ درصد)
	//- 		span #{ManagementPlan[1]}
	//- 	li 
	//- 		span شارژ ۲۰۰ دلاری (کارمزد ۱.۱۵ درصد)
	//- 		span #{ManagementPlan[2]}
	//- 	li 
	//- 		span شارژ ۳۰۰ دلاری (کارمزد ۱.۱۴ درصد)
	//- 		span #{ManagementPlan[3]}
	//- 	li 
	//- 		span شارژ ۵۰۰ دلاری (کارمزد ۱.۱۲ درصد)
	//- 		span #{ManagementPlan[4]}
	//- 	li 
	//- 		span شارژ ۷۵۰ دلاری (کارمزد ۱.۱۱ درصد)
	//- 		span #{ManagementPlan[5]}
	//- 	li 
	//- 		span شارژ ۱۰۰۰ دلاری (کارمزد ۱.۰۹ درصد)
	//- 		span #{ManagementPlan[6]}
	//- 	li 
	//- 		span شارژ ۲۰۰۰ دلاری (کارمزد ۱.۰۷ درصد)
	//- 		span #{ManagementPlan[7]}


block footer