extends ../layout

block navbarTop
	nav.navbar-top-container.fixed-header
		a(href="/")
			img.back(src=h.backArrow)
			span بازگشت
		span #{title}
block slideOutMenu
block content
	.header-text
		span #{title}
	form(action="/users/passwordChange", method="POST")
		.group-field.display-flex-wrap
			each item in h.passwordChange
				label.form-label
					input.input-field(type=item.type, name=item.name, placeholder=' ')
					span.label #{item.label}
					!= h.icon(item.icon)
					
					
		input(type='hidden', name='_csrf', value=`${csrfToken}`)
		input.btn(type='submit', value='بروزرسانی کلمه عبور')
		
block footer
block navbar-bottom